.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
**/ios/**/GeneratedPluginRegistrant.*

# macOS
.DS_Store
